<header>
    <div>
       <span class="logo">Portfolio</span> 
    </div>
    <div>
        <ul>
            <li>
                <a href = "#main">Home</a>
            </li>
            <li>
                <a href = "#second">About</a>
            </li>
            <li>
                <a href = "#services">Skills</a>
            </li>
            <li>
                <a href = "https://github.com/gowthi56" target="_blank">Github</a>
            </li>
        </ul>
    </div>
    <div>
        <button style="border-radius: 10px;"><a href = "https://gowthi56.github.io/Resume/" target = "_blank" style="text-decoration: none;color:aliceblue">View Resume</a></button>
    </div>
</header>
<main>
    <section class="mainsection" id = "main">
        <div class="mt-5">
            <h4 >Hi there <span style="color: #12bdff;">!</span></h4>
            <h2 class="heading">I'm  <p class="name_heading"> Gowrishankar</p></h2>
            <p class="name">A open minded person utilizing every opportunities to grow strong. Having <span style="color: #12bdff;">5 years & one month</span> of working knowledge in 
                 web-based applications using
                 <span style="color: #12bdff;">Angular, JavaScript, TypeScript, Bootstrap, HTML5, CSS3 </span>, Having Good knowledge on <span style="color: #12bdff;">Routing, Lazy loading, Directives</span>,
 Good experience in <span style="color: #12bdff;">AgileMethodology.</span>
and version controls like <span style="color: #12bdff;">GIT repositories</span>, Worked on <span style="color: #12bdff;">API Integrations</span> and crud opeartions
, Extensive experience of Web standards <span style="color: #12bdff;">(HTML5&CSS3)</span>.
, Good debugging and Problem-solving skills.
, Good Awareness over <span style="color: #12bdff;">Software Development LifeCycle</span>.
 Ability to work in any environments.
  Always works with great pasion along with hardwork.Like to learn new things
            </p>
        
            <div class="social">
                <!-- socialicons -->
                <a href = "#"><i class="fa-brands fa-facebook"></i></a>
                <a href = "#"><i class="fa-brands fa-linkedin"></i></a>
                <a href = "#"><i class="fa-brands fa-instagram"></i></a>
                <a href = "#"><i class="fa-brands fa-twitter"></i></a>
            </div>
          
        </div>
    
        <div class="img1">
    <img src = "assets/profile.png"class="firstimage mt-5" alt = "gowrishankar">
        </div>
    </section>
    <section class="second"id = "second">
        <div>
            <!-- image -->
            <img src = "assets/port.png" class="shadow" alt = "gowrishankar" width="350px" style="background-color: black">
        </div>
        <div class="biodata">
            <h2>I am<span style="color: #12bdff;margin-left: 4px;">Frontend</span> Developer</h2>
            <h5 style = "margin-top:15px">Experience:<span style="color: #12bdff;"> 5 years & one Month </span></h5>
            <h5 style = "margin-top:10px">University:<span style="color: #12bdff;">Christ university</span> </h5>
            <h5 style = "margin-top:10px">DOB:<span style="color: #12bdff;">04/12/1995</span> </h5>
            <h5 style = "margin-top:10px">Adddress:<span style="color: #12bdff;">Tamilnadu</span> </h5>
            <h5 style = "margin-top:10px">Phone no:<span style="color: #12bdff;">9524555567</span> </h5>
            <h5 style = "margin-top:10px">Email:<span style="color: #12bdff;">gowrishankar.rajaa@gmail.com</span> </h5>
            <h5 style = "margin-top:10px">LinkedIn:<a href = "https://www.linkedin.com/in/gowrishankar-rajaa/" target="_blank"style = "color: #12bdff; text-decoration:none;font-size:13px;margin-left: 4px">linkedin.com/in/gowrishankar-rajaa</a> </h5>
        </div>
    </section>     
    <section class="services" id = "services">
        <h1 style="text-align: center;">My <span style="color: #12bdff;">Skills</span></h1>
        <div class="maincard">
            <table class="table table-dark  table-responsive table-bordered text-center  py-2 my-3">
                <tbody>
                <tr>
                    <td>HTML</td>
                    <td class="star-rating">★★★★★</td>
                </tr>
                <tr>
                    <td>CSS</td>
                    <td class="star-rating">★★★★★</td>
                </tr>
                <tr>
                    <td>TailwindCSS</td>
                    <td class="star-rating">★★☆☆☆</td>
               
                </tr>
                <tr>
                    <td>Bootstrap</td>
                    <td class="star-rating">★★★★☆</td>
                </tr>  <tr>
                    <td>JavaScript</td>
                    <td class="star-rating">★★★★☆</td>
                </tr>
                <tr>
                    <td>TypeScript</td>
                    <td class="star-rating">★★★★☆</td>
                </tr>
                <tr>
                    <td>Angular</td>
                    <td class="star-rating">★★★★☆</td>
                </tr>
                </tbody>
              </table>
        </div>
    </section>
</main>
